OperadorDestinoCarpetaMock/Connected Services/DocumentService/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.camel.templates.mycompany.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientService" targetNamespace="http://services.camel.templates.mycompany.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns="http://services.camel.templates.mycompany.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.camel.templates.mycompany.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="client">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="idNumber" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="document">
        <xs:sequence>
          <xs:element minOccurs="0" name="fullPath" type="xs:string" />
          <xs:element minOccurs="0" name="idNumberClient" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="validateClient" type="tns:validateClient" />
      <xs:complexType name="validateClient">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="arg0" type="tns:client" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="validateClientResponse" type="tns:validateClientResponse" />
      <xs:complexType name="validateClientResponse">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="return" type="tns:document" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validateClient">
    <wsdl:part name="parameters" element="tns:validateClient" />
  </wsdl:message>
  <wsdl:message name="validateClientResponse">
    <wsdl:part name="parameters" element="tns:validateClientResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientServicePortType">
    <wsdl:operation name="validateClient">
      <wsdl:input name="validateClient" message="tns:validateClient" />
      <wsdl:output name="validateClientResponse" message="tns:validateClientResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceSoapBinding" type="tns:ClientServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validateClient">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validateClient">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validateClientResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="ClientServicePort" binding="tns:ClientServiceSoapBinding">
      <soap:address location="http://localhost:9292/cxf/client" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>